.gradient-custom-2 {
    background: yellow; 
}
.gradient-custom-2:hover {
    background: #ffff80; /* Lighter yellow */
}

.login-btn {
    width: 180px;
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.form-outline {
    position: relative;
}

.form-control {
    padding-right: 40px;
}

#user-icon {
    position: absolute;
    top: 50%;
    left:-30px;
    transform: translateY(-50%);
    transition: right 0.3s ease-in-out;
    color:white;
}
#togglePassword {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    transition: right 0.3s ease-in-out;
    color: white;
}

.form-control.is-invalid + #togglePassword {
    right: 50px;
}

.form-control.is-invalid + #user-icon {
    right: 50px; 
}
.ellipse {
   position: absolute;
   width: 2300px;
   height: 3400px;
   right:-200px;
   top: 20%;
   background: #F0C808;
   border-radius: 50%;
   z-index:-3;
}
